@{
    ViewBag.Title = "Login";
}

<h1>Chekkan Blog</h1>

<nav>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Login", "Login", "Account")</li>
    </ul>
</nav>

<h2>Login</h2>